<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#140f10">
<meta name="format-detection" content="telephone=yes">
<link rel="icon" type="image/png" href="assets/favicon.png">
<script src="js/navigation.js?v={{ASSET_VERSION}}"></script>
<link rel="stylesheet" href="css/tokens.css?v={{ASSET_VERSION}}">
<link rel="stylesheet" href="css/base.css?v={{ASSET_VERSION}}">
<link rel="stylesheet" href="css/layout.css?v={{ASSET_VERSION}}">
<link rel="stylesheet" href="css/components.css?v={{ASSET_VERSION}}">
<link rel="stylesheet" href="css/pages.css?v={{ASSET_VERSION}}">